*{
  font-family: 'Ubuntu', sans-serif;
}

.header{
  width: 100vw;
  height: 10vh;
}

.leftHeader{
  background-color: black;
  width: 50vw;
  height: 10vh;
  z-index: 1;
}

.leftText{
  background-color: black;
  color: white;
  text-align: center;
  margin-left: -40px;
  height: 100%;
  padding: 3vh 1vw 3vh 0;
}

.projectLinks{
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 30px;
  padding: 2vh 0 2vh 0;
}

.middleHeader{
  position: absolute;
  width: 80px;
  height: 71px;
  left: 50%;
  right: 50%;
  z-index: 2;
  margin-left: -40px;
}

#logo{
  width: 100%;
  height: 100%;
  border-left: 3px solid #65B18A;
  border-right: 3px solid #65B18A;
}

.over {
  transform:             rotate( -180deg );
      -moz-transform:    rotate( -180deg );
      -ms-transform:     rotate( -180deg );
      -o-transform:      rotate( -180deg );
      -webkit-transform: rotate( -180deg );
  transition:             transform 550ms ease;
      -moz-transition:    -moz-transform 550ms ease;
      -ms-transition:     -ms-transform 550ms ease;
      -o-transition:      -o-transform 550ms ease;
      -webkit-transition: -webkit-transform 550ms ease;
}

.out {
  transform:             rotate( -360deg );
      -moz-transform:    rotate( -360deg );
      -ms-transform:     rotate( -360deg );
      -o-transform:      rotate( -360deg );
      -webkit-transform: rotate( -360deg );
  transition:             transform 550ms ease;
      -moz-transition:    -moz-transform 550ms ease;
      -ms-transition:     -ms-transform 550ms ease;
      -o-transition:      -o-transform 550ms ease;
      -webkit-transition: -webkit-transform 550ms ease;
}

.rightHeader{
  background-color: white;
  width: 50vw;
  height: 10vh;
  z-index: 1;
}

.rightText{
  text-align: center;
  margin-left: 40px;
  height: 100%;
  padding: 3vh 0 3vh 0;
}

.aboutLinks{
  background-color: white;
  color: black;
  text-align: center;
  margin-left: 30px;
  padding: 2vh 0 2vh 0;
}

.leftText, .rightText{
  font-size: 18px;
}

.bodyLayout{
  width: 100vw;
  height: 50vh;
}

.bodyContent{
  height: 90vh;
  width: 100vw;
  background-color: #2F3331;
  color: #65B18A;
}

.bodyText{
  opacity: .5;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
