<div class="bodyLayout container">
  <div class='row'>
    <div class='bodyContent'>
      <img class='bodyText' src='empSeattleBW.jpg'>
    </div>
  <div class="bottomLayout container">
    <div class='row'>
      <div class='leftContent col-sm-4 col-md-4'>
        <p class='leftBody'>Left Body</p>
      </div>
      <div class='middleContent col-sm-4 col-md-4'>
        <p class='middleBody'>Middle Body</p>
      </div>
      <div class='rightContent col-sm-4 col-md-4'>
        <p class='rightBody'>Right Body</p>
      </div>
    </div>
  </div>
</div>
