<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Patrick W. Dullano</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" media="(max-width: 600px)" href="css/smaller.css" />
  </head>
  <body ng-controller="mainController">
    <div class="header container">
      <div class='row'>
        <div class='leftHeader col-xs-5 col-sm-5 col-md-5 pull-left'>
            <p class='leftText' ng-click="ToggleProjects()">Projects <span class='glyphicon glyphicon-chevron-down'></span></p>
            <ul class ='list-unstyled' ng-show="showProjects">
              <li class='projectLinks'>Spontaneus Listener</li>
              <li class='projectLinks'>Noobish</li>
              <li class='projectLinks'>Shopping Cart</li>
            </ul>
        </div>
        <div class='middleHeader col-xs-2 col-sm-2 col-md-2 pull-left'>
          <a href="/#/">
            <img id='logo' src="PDlogo.png" alt="logo" />
          </a>
        </div>
        <div class='rightHeader col-xs-5 col-sm-5 col-md-5 pull-right'>
            <p class='rightText' ng-click="ToggleAbout()">About <span class='glyphicon glyphicon-chevron-down'></span></p>
            <ul class='list-unstyled' ng-show="showAbout">
              <li class='aboutLinks'>Bio</li>
              <li class='aboutLinks'>Github</li>
              <li class='aboutLinks'>LinkedIn</li>
            </ul>
          </a>
        </div>
      </div>
    </div>
    <div ng-view></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
  <script type="text/javascript"src='js/app.js'></script>
  <script type="text/javascript"src='js/rotate.js'></script>
  <script type="text/javascript"src='js/controllers/main_controller.js'></script>
  </body>
</html>
